<section class="call-to-action section">
    <div class="container">
        <div class="row ">
            <div class="col-12 ">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 text-center">
                        <h2 class="">Let's Create Something Together</h2>
                    </div>
                </div>
                <p>The International Institute of Healthcare Leadership and Quality Assurance offers a distinctive educational opportunity aimed at healthcare professionals across Africa seeking to enhance their understanding of patient safety, healthcare quality, and digital transformation theory and practice. Rooted in the objectives outlined by the World Health Organization Global Patient Safety Action Plan, this fellowship initiative seeks to cultivate healthcare leaders from diverse clinical, allied, and administrative backgrounds who will actively embrace the following principles.</p>
                <ul>
                    <li>Championing Transformational Leadership Models to Advance Healthcare Quality and Patient Safety</li>
                    <li>Embracing Healthcare Digital Transformation to Implement Scalable and Cost-Efficient Interventions</li>
                    <li>Developing Organizational Strategies Focused on Value-Based Healthcare Systems to Enhance Process Efficiency, Performance Monitoring, Evaluation, and Continuous Learning and Capacity Building Among Healthcare Teams</li>
                    <li>Engaging in Patient Safety Sciences and Practices, Including Risk Management, Safety Assessments, and Establishing Learning Organizations to Promote Patient Safety</li>
                </ul>
                <br>
                <p>The program's framework emphasizes Outcome-Based Learning, employing a continuous Assessment as Learning approach through an online learning platform. Participants will undergo ongoing formative assessments each month, evaluating their progress across various domains, which will contribute to their overall performance assessment</p>
                <br>
                <p>The program is designed for doctors, nurses, pharmacists, lab scientists, optometrists, physiotherapists, healthcare administrators, Healthcare IT project manager, and other healthcare workers. By the end of the program, each professional won't just have gained knowledge, you'll have the skills and confidence to tackle healthcare challenges head-on within their field. Together, we'll form a powerful community dedicated to transforming the African healthcare system</p>
                    <a href="{% url 'auth:register' %}" class="btn btn-main">Get Started</a>
                    </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section>