{% load static %}

<footer id="footer" class="bg-one">
	<div class="top-footer">
		<div class="container">
		<div class="row justify-content-around">
			<div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
			<h3>about</h3>
			<p>We aims to bring together visionary leaders, policymakers, and influencers in
                the field of healthcare to deliberate, collaborate, and chart a
                transformative course for the African healthcare landscape.</p>
			</div>
			<!-- End of .col-sm-3 -->

			<div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
			<ul>
				<li>
				<h3>Our Services</h3>
				</li>
				<li><a href="">Training</a></li>
				<li><a href="">Publication</a></li>
			</ul>
			</div>
			<!-- End of .col-sm-3 -->

			<div class="col-lg-2 col-md-6 mb-5 mb-md-0">
			<ul>
				<li>
				<h3>Quick Links</h3>
				</li>
				<li><a href="{% url 'basic:about' %}">About</a></li>
				<li><a href="{% url 'basic:contact' %}">Contact Us</a></li>
			</ul>
			</div>
			<!-- End of .col-sm-3 -->

			<div class="col-lg-3 col-md-6">
			<ul>
				<li>
				<h3>Connect with us Socially</h3>
				</li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Twitter</a></li>
			</ul>
			</div>
			<!-- End of .col-sm-3 -->

		</div>
		</div> <!-- end container -->
	</div>
	<div class="footer-bottom">
		<h5>&copy; Copyright 2024. All rights reserved.</h5>
	</div>
</footer> <!-- end footer -->