{% load static %}
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="{% url 'basic:home' %}">
        <img loading="lazy" class="logo-default" src="{% static 'home/images/logo_both.png' %}" width=100  alt="logo" />
        <img loading="lazy" class="logo-white" src="{% static 'home/images/logo_both_white.png' %}"  width=100 alt="logo" />
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item {% if request.path == '/' %} active {% endif %}">
            <a class="nav-link" href="{% url 'basic:home' %}">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/about' %} active {% endif %}">
            <a class="nav-link" href="{% url 'basic:about' %}">About Us</a>
          </li>
          <li class="nav-item {% if request.path == '/contact' %} active {% endif %}">
            <a class="nav-link" href="{% url 'basic:contact' %}">Contact Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'auth:login' %}">Registration</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
