{% load static %}
<!-- Main jQuery -->
<script src="{% static 'home/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap4 -->
<script src="{% static 'home/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- Parallax -->
<script src="{% static 'home/plugins/parallax/jquery.parallax-1.1.3.js' %}"></script>
<!-- lightbox -->
<script src="{% static 'home/plugins/lightbox2/js/lightbox.min.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'home/plugins/slick/slick.min.js' %}"></script>
<!-- filter -->
<script src="{% static 'home/plugins/filterizr/jquery.filterizr.min.js' %}"></script>
<!-- Smooth Scroll js -->
<script src="{% static 'home/plugins/smooth-scroll/smooth-scroll.min.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="{% static 'home/plugins/google-map/gmap.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'home/js/script.js' %}"></script>