{% extends "base_front.html" %}
{% load static %}
{% block title %} About-us {% endblock %}
{% block head %} {% include "partials/head.html" %} {%endblock %}
{% block body %}
	{% block nav %} {% include "partials/nav.html" %} {%endblock %}


<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>About Us</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="{% url 'basic:home' %}" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">About Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-20">
				<h2 class="mb-3">We create opportunity to learn, grow,<br> and inspire positive change</h2>
				<p>International Institute of Healthcare Leadership and Quality Improvement (IIHLM)
					The International Institute of Healthcare Leadership and Quality Improvement (IIHLM) is a leading global organization dedicated to empowering healthcare leaders and professionals to drive positive change within their organizations and healthcare systems.</p>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<img loading="lazy" class="img-fluid" src="{% static 'home/images/company/about.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>


<section class="company-mission section-sm bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Our Mission</h3>
				<ol>
					<li>
						<p>
							<b>Africa Reforms</b>
							<br>
							To catalyse healthcare reforms that will drive development in Africa and targeted at achieving health for all by 2050.
						</p>
					</li>
					<li>
						<p>
							<b>Training</b>
							<br>
							To train 100, 000 healthcare professionals across the globe by 2030 and 10 000 per year subsequently.
						</p>
					</li>
					<li>
						<p>
							<b>Facilitation</b>
							<br>
							To put our learning and assessment tools in all tertiary, secondary and primary care hospitals across Africa by 2030.
.
						</p>
					</li>
					<li>
						<p>
							<b>Publication</b>
							<br>
							To facilitate research publications and translation of evidence based global best practices by way of adoption and adaptation to socioeconomic realities for driving quality care.
						</p>
					</li>
				</ol>
				<img loading="lazy" src="{% static 'home/images/blog/blog3.jpg' %}" alt="" class="img-fluid mt-30">
			</div>
			<div class="col-md-6 mt-5 mt-md-0">
				<h3>Our Vision</h3>
				<p class="text-justify">
					Our Vision is to establish ourselves as a global leader in healthcare leadership and quality improvement, striving to rank among the top 10 professional institutes worldwide. We envision a future where our organization plays a pivotal role in shaping the healthcare landscape, driving innovation, and fostering excellence in healthcare delivery. Through our commitment to continuous improvement and advancement, we aim to set new standards of excellence in healthcare leadership, education, and research. Our vision encompasses a world where every individual has access to high-quality healthcare services, regardless of geographical location or socioeconomic status. We aspire to be recognized internationally for our contributions to healthcare reform, innovation, and the pursuit of health equity, ultimately making a meaningful impact on the health and well-being of communities around the globe.
				</p>
				<br>
				<br>
				<br>
				<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="" class="img-fluid mt-30">
			</div>
		</div>
	</div>
</section>


<section class="section gallery">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Sneak Peak Gallery</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore numquam esse vitae recusandae qui
						aspernatur, blanditiis, laboriosam dignissimos dolore facere provident ex? Porro, praesentium consectetur
						tempore. Nulla, error eius dolorem.</p>
						<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="company-gallery">
					<img loading="lazy" src="{% static 'home/images/blog/blog3.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog1.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog3.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog1.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog3.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog1.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog3.jpg' %}" alt="">
					<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>


{% comment %}
<!-- Start Our Team
		=========================================== -->
<section class="team" id="team">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2>Our Team</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quasi tempora obcaecati, quis
						similique quos.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row">
			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="{% static 'home/images/team/member-1.jpg' %}" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Michael Jonson</h3>
						<span>Head Of Marketing</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="{% static 'home/images/team/member-2.jpg' %}" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Carrick Mollenkamp</h3>
						<span>Web Developer</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6">
				<div class="team-member text-center">
					<div class="member-photo">
						<!-- member photo -->
						<img loading="lazy" class="img-fluid" src="{% static 'home/images/team/member-3.jpg' %}" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="clearfix">
								<li><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-google-outline"></i></a></li>
								<li><a href="#"><i class="tf-ion-social-dribbble"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-content">
						<h3>David Gauthier</h3>
						<span>Head Of Management</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
{% endcomment %}


{% include 'partials/stats.html' %}

<!--
Start Call To Action
==================================== -->
{% include 'partials/action.html' %}
	<!-- End section -->

{% include "partials/footer.html" %}
{% include "partials/script.html" %}

{%endblock %}