{% extends "base_front.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block head %} {% include "partials/head.html" %} {%endblock %}
{% block body %}
	{% block nav %} {% include "partials/nav.html" %} {%endblock %}

	<div class="hero-slider">
		<div class="slider-item th-fullpage hero-area" style="background-image: url('{% static "home/images/slider/slider2.jpg" %}');">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Welcome to the International Institute of Healthcare Leadership and Quality Improvement</h1>
						<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">This platform is designed to facilitate meaningful connections, collaboration, and <br> knowledge sharing among future health leaders.</p>
						<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
							href="{% url 'auth:register' %}">Explore Us</a>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item th-fullpage hero-area" style="background-image: url('{% static "home/images/slider/slider1.jpg" %}');">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Join the International Institute of Healthcare Leadership and Quality Improvement</h1>
						<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Together, we will deliberate, collaborate, and chart a transformative course for the<br> African healthcare landscape.</p>
						<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
							href="{% url 'auth:register' %}">Get started</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	Start About Section
	==================================== -->
	<section class="service-2 section">
	<div class="container">
		<div class="row justify-content-center">

		<div class="col-lg-6">
			<!-- section title -->
			<div class="title text-center">
			<h2>What Do We Offer</h2>
			<p>Let's make the most of this opportunity to learn, grow, and inspire positive change in the healthcare landscape across Africa, below are what we offer.</p>
			<div class="border"></div>
			</div>
			<!-- /section title -->
		</div>
		</div>
		<div class="row">

		<div class="col-md-4 text-center d-none d-md-block">
			<img loading="lazy" src="{% static 'home/images/company/offer.jpg' %}" class="img-fluid inline-block" alt="">
		</div>
		<div class="col-md-8">
			<div class="row text-center">
			<div class="col-md-6 col-sm-6">
				<div class="service-item">
				<i class="tf-ion-ios-alarm-outline"></i>
				<h4>Comprehensive Educational Programs</h4>
				<p class="text-justify">We offer a diverse portfolio of online, blended, and in-person programs covering a wide range of leadership and quality improvement topics. Our programs are designed to be relevant, practical, and evidence-based, addressing the most pressing challenges facing healthcare leaders today.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-md-6 col-sm-6">
				<div class="service-item">
				<i class="tf-ion-ios-briefcase-outline"></i>
				<h4>World-Class Faculty</h4>
				<p class="text-justify">Our instructors embody a diverse range of expertise and qualifications in healthcare leadership, education, and research. With years of practical experience working in various healthcare settings, they bring a wealth of real-world knowledge and insights to the classroom they have also developed innovative solutions to challenges.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-md-6 col-sm-6">
				<div class="service-item">
				<i class="tf-ion-ios-email-outline"></i>
				<h4>Global Reach and Impact</h4>
				<p class="text-justify">We serve a global community of healthcare professionals, with participants from over [X] countries. We are committed to fostering collaboration and knowledge sharing across borders.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-md-6 col-sm-6">
				<div class="service-item">
				<i class="tf-ion-ios-locked-outline"></i>
				<h4>Commitment to Continuous Improvement</h4>
				<p class="text-justify">We are constantly updating our programs and resources to reflect the ever-evolving healthcare landscape.
				If you are a healthcare leader or professional who is committed to making a difference in the quality of healthcare, then IIHLM is the right partner for you.</p>
				</div>
			</div><!-- END COL -->
			</div>
		</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
	</section> <!-- End section -->

	<!--
	Start Call To Action
	==================================== -->
	{% include 'partials/action.html' %}
	 <!-- End section -->

	{% include 'partials/stats.html' %}

	<!--
	Start Blog Section
	=========================================== -->
	<section class="blog" id="blog">
		<div class="container">
			<div class="row justify-content-center">
				<!-- section title -->
				<div class="col-xl-6 col-lg-8">
					<div class="title text-center ">
						<h2> Latest <span class="color">Posts</span></h2>
						<div class="border"></div>
						<p>Stay Updated with Our Latest Activities.</p>
					</div>
				</div>
				<!-- /section title -->
			</div>

			<div class="row">
				<!-- single blog post -->
				<article class="col-lg-4 col-md-6">
					<div class="post-item">
						<div class="media-wrapper">
							<img loading="lazy" src="{% static 'home/images/blog/blog2.jpg' %}" alt="amazing caves coverimage" class="img-fluid">
						</div>

						<div class="content">
							<h3><a href="#">Reasons to Smile</a></h3>
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non skateboard dolor brunch.</p>
							<a class="btn btn-main" href="#">Read more</a>
						</div>
					</div>
				</article>
				<!-- /single blog post -->

				<!-- single blog post -->
				<article class="col-lg-4 col-md-6">
					<div class="post-item">
						<div class="media-wrapper">
							<img loading="lazy" src="{% static 'home/images/blog/blog1.jpg' %}" alt="amazing caves coverimage" class="img-fluid">
						</div>

						<div class="content">
							<h3><a href="#">A Few Moments</a></h3>
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non skateboard dolor brunch.</p>
							<a class="btn btn-main" href="#">Read more</a>
						</div>
					</div>
				</article>
				<!-- end single blog post -->

				<!-- single blog post -->
				<article class="col-lg-4 col-md-6">
					<div class="post-item">
						<div class="media-wrapper">
							<img loading="lazy" src="{% static 'home/images/blog/blog3.jpg' %}" alt="amazing caves coverimage" class="img-fluid">
						</div>

						<div class="content">
							<h3><a href="#">Hints for Life</a></h3>
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
								moon officia aute, non skateboard dolor brunch.</p>
							<a class="btn btn-main" href="#">Read more</a>
						</div>
					</div>
				</article>
				<!-- end single blog post -->
			</div> <!-- end row -->
		</div> <!-- end container -->
	</section> <!-- end section -->

	{% include "partials/footer.html" %}
	{% include "partials/script.html" %}

{%endblock %}