{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href=" {% static 'auth/vendors/feather/feather.css' %}">
<link rel="stylesheet" href=" {% static 'auth/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href=" {% static 'auth/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href=" {% static 'auth/css/vertical-layout-light/style.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'home/images/logo-main-white.png' %}" />
