{% load static %}


{% comment %}

<script src="{% static 'auth/vendor/libs/jquery/jquery.js' %}"></script>
{% endcomment %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'auth/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'auth/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'auth/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

<script src="{% static 'auth/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="{% static 'auth/js/main.js' %}"></script>


<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    $(document).ready(function() {
        $("id_country").select2();
    });
</script>