{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <img src="{% static 'home/images/logo_both.png' %}" alt="logo" width=100>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="{% url 'auth:dashboard' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>


      {% if not request.user.is_staff %}
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Application</span>
      </li>
      <li class="menu-item">
        <a href="{% url 'reg:apply_fellowship' 'fellowship' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Basic">Apply fellowship program</div>
        </a>
      </li>

      <!-- Components -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Webinar Series</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a href="{% url 'reg:apply_fellowship' 'webinar' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Basic">Apply for Webinar</div>
        </a>
      </li>

      {% endif %}

      <!-- Misc -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Setting</span></li>
      <li class="menu-item">
        <a
          href="{% url 'auth:profile' request.user.pk %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user-circle"></i>
          <div data-i18n="Support">Profile</div>
        </a>
      </li>
      <li class="menu-item">
        <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#basicModal" target="_blank" class="menu-link">
          <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
          <div data-i18n="Documentation">Log out</div>
        </a>
      </li>

    </ul>
  </aside>